/* *** PROJECTS BOX *** */
/**** POST LISTING ****/
/*** BORDER RADIUS ***/
/****** PLACEHOLDERS - like mixins but don't repeat in the code ******/
/*** CLEARFIX ***/
/* latin-ext */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya"), local("Alegreya-Regular"), url("/fonts/9u9YGRxvkN-Oe2bJiJD80RTbgVql8nDJpwnrE27mub0.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya"), local("Alegreya-Regular"), url("/fonts/4vRXIs1BEbKX6mQ7lGu1I_esZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Bold"), local("Alegreya-Bold"), url("/fonts/F5BSMOSf_T8GT2wiqqpj3SYE0-AqJ3nfInTTiDXDjU4.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Bold"), local("Alegreya-Bold"), url("/fonts/F5BSMOSf_T8GT2wiqqpj3Y4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: local("Alegreya Black"), local("Alegreya-Black"), url("/fonts/77GwhzeWPpmLIJUaM8KhxCYE0-AqJ3nfInTTiDXDjU4.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: local("Alegreya Black"), local("Alegreya-Black"), url("/fonts/77GwhzeWPpmLIJUaM8KhxI4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya Italic"), local("Alegreya-Italic"), url("/fonts/6_pOq2_yZBqNy9oVYzitaiEAvth_LlrfE80CYdSH47w.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya Italic"), local("Alegreya-Italic"), url("/fonts/Q-XbT1m22Fi9BEKb7y59O_k_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya Bold Italic"), local("Alegreya-BoldItalic"), url("/fonts/IWi8e5bpnqhMRsZKTcTUWhHJTnCUrjaAm2S9z52xC3Y.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya Bold Italic"), local("Alegreya-BoldItalic"), url("/fonts/IWi8e5bpnqhMRsZKTcTUWoWiMMZ7xLd792ULpGE4W_Y.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: local("Alegreya Black Italic"), local("Alegreya-BlackItalic"), url("/fonts/-L71QLH_XqgYWaI1GbOVhsvbOpOevl3wWYjwFvepnDU.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: local("Alegreya Black Italic"), local("Alegreya-BlackItalic"), url("/fonts/-L71QLH_XqgYWaI1GbOVhsjsb7Oq0o-uqUFW7Ygu5rM.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya SC"), local("AlegreyaSC-Regular"), url("/fonts/-74JUGs8W14C5cCBFRS30yYE0-AqJ3nfInTTiDXDjU4.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya SC"), local("AlegreyaSC-Regular"), url("/fonts/-74JUGs8W14C5cCBFRS3044P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya SC Bold"), local("AlegreyaSC-Bold"), url("/fonts/M9OIREoxDkvynwTpBAYUq-jkDdvhIIFj_YMdgqpnSB0.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya SC Bold"), local("AlegreyaSC-Bold"), url("/fonts/M9OIREoxDkvynwTpBAYUq4lIZu-HDpmDIZMigmsroc4.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 900;
  src: local("Alegreya SC Black"), local("AlegreyaSC-Black"), url("/fonts/M9OIREoxDkvynwTpBAYUq7lR9l3n4ZtVZdCvvDPwi9o.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 900;
  src: local("Alegreya SC Black"), local("AlegreyaSC-Black"), url("/fonts/M9OIREoxDkvynwTpBAYUq8pPZoEQdaDZ3o3Np19rzJk.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya SC Italic"), local("AlegreyaSC-Italic"), url("/fonts/GOqmv3FLsJ2r6ZALMZVBmk_0lycXMw8PhobHtu2Qgco.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya SC Italic"), local("AlegreyaSC-Italic"), url("/fonts/GOqmv3FLsJ2r6ZALMZVBmsu2Q0OS-KeTAWjgkS85mDg.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya SC Bold Italic"), local("AlegreyaSC-BoldItalic"), url("/fonts/5PCoU7IUfCicpKBJtBmP6fD-tiQYKMdw_jk-5jaY04o.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya SC Bold Italic"), local("AlegreyaSC-BoldItalic"), url("/fonts/5PCoU7IUfCicpKBJtBmP6Y9ObOXPY1wUIXqKtDjSdsY.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 900;
  src: local("Alegreya SC Black Italic"), local("AlegreyaSC-BlackItalic"), url("/fonts/5PCoU7IUfCicpKBJtBmP6T6jLZc4L91jor6MlE_eF8s.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 900;
  src: local("Alegreya SC Black Italic"), local("AlegreyaSC-BlackItalic"), url("/fonts/5PCoU7IUfCicpKBJtBmP6Tf7N2bZoScLc-44q5CB23E.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans"), local("AlegreyaSans-Regular"), url("/fonts/KYNzioYhDai7mTMnx_gDgt01sE-sBCcxeIPQ5nVmD-Y.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans"), local("AlegreyaSans-Regular"), url("/fonts/KYNzioYhDai7mTMnx_gDguo_hGDVFZ4kKx4ST9hVovI.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans"), local("AlegreyaSans-Regular"), url("/fonts/KYNzioYhDai7mTMnx_gDgsmBRJoLbs7X6hY7yFEc97Q.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url("/fonts/11EDm-lum6tskJMBbdy9aa-4WGWUxW6iB9F1ud5NG84.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url("/fonts/11EDm-lum6tskJMBbdy9aStaEaHGbET_jfOf1wWvOeM.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Alegreya Sans Medium"), local("AlegreyaSans-Medium"), url("/fonts/11EDm-lum6tskJMBbdy9aVZp3tKiB9YnYzAIdkxupX8.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url("/fonts/11EDm-lum6tskJMBbdy9aeM-raSl8_Jbtdwpx2yaBdM.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url("/fonts/11EDm-lum6tskJMBbdy9aZa6PouP1CiMI7xm5Dvn5ZQ.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Sans Bold"), local("AlegreyaSans-Bold"), url("/fonts/11EDm-lum6tskJMBbdy9acrysgx4XYXiGyd0rEkyLBs.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold"), local("AlegreyaSans-ExtraBold"), url("/fonts/11EDm-lum6tskJMBbdy9aWr-XwceRTrWw-Dcfd2rpWs.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold"), local("AlegreyaSans-ExtraBold"), url("/fonts/11EDm-lum6tskJMBbdy9afPI7llzpTvbw9FsJUCUVUY.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold"), local("AlegreyaSans-ExtraBold"), url("/fonts/11EDm-lum6tskJMBbdy9aVvTxhR-HurA7zKsTVg5Awk.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: local("Alegreya Sans Black"), local("AlegreyaSans-Black"), url("/fonts/11EDm-lum6tskJMBbdy9aWf8wld0-LUn8I8_pmZeAwA.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: local("Alegreya Sans Black"), local("AlegreyaSans-Black"), url("/fonts/11EDm-lum6tskJMBbdy9aYcG4Fy-7PSLN-4Q8e0HrLA.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: local("Alegreya Sans Black"), local("AlegreyaSans-Black"), url("/fonts/11EDm-lum6tskJMBbdy9acttC1UWWH1Hne0t2gWY82A.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya Sans Italic"), local("AlegreyaSans-Italic"), url("/fonts/TKyx_-JJ6MdpQruNk-t-PKskfy01UkonBo9maszYh7o.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya Sans Italic"), local("AlegreyaSans-Italic"), url("/fonts/TKyx_-JJ6MdpQruNk-t-PLk1-xwGt9xa0Iu_nuikx08.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya Sans Italic"), local("AlegreyaSans-Italic"), url("/fonts/TKyx_-JJ6MdpQruNk-t-PPOSZGZVnZh1qFL4FBVulds.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  src: local("Alegreya Sans Medium Italic"), local("AlegreyaSans-MediumItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9Crp-syeokkvALFJJdgYIid4.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  src: local("Alegreya Sans Medium Italic"), local("AlegreyaSans-MediumItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9Cqv9F-ZWqXtpzGFhYryZbQo.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  src: local("Alegreya Sans Medium Italic"), local("AlegreyaSans-MediumItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9Ct_IqBrMQJeb3btf4G2wJuM.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya Sans Bold Italic"), local("AlegreyaSans-BoldItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9CkCjwY7mE5qVgYdv0YD6z_w.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya Sans Bold Italic"), local("AlegreyaSans-BoldItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9CggVWpHKMcOZ85bmNksjcws.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya Sans Bold Italic"), local("AlegreyaSans-BoldItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9CsYBCjQycNOg465W8lWeYjs.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold Italic"), local("AlegreyaSans-ExtraBoldItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9CoU5Lu9CDbe-_3QtA0qjyx8.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold Italic"), local("AlegreyaSans-ExtraBoldItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9CsP8pR76Cuw-8bnvATv8Dvg.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 800;
  src: local("Alegreya Sans ExtraBold Italic"), local("AlegreyaSans-ExtraBoldItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9CtoLup_JzTqNKwLJ6RzBh8g.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: local("Alegreya Sans Black Italic"), local("AlegreyaSans-BlackItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9CiePsKlqtFpb7WnWt0gIgLc.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: local("Alegreya Sans Black Italic"), local("AlegreyaSans-BlackItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9CvNehZMpJflHS-HhCXnt5WY.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: local("Alegreya Sans Black Italic"), local("AlegreyaSans-BlackItalic"), url("/fonts/WfiXipsmjqRqsDBQ1bA9CuNlVeDectUokiFkVZNBZa4.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans SC"), local("AlegreyaSansSC-Regular"), url("/fonts/6kgb6ZvOagoVIRZyl8XV-Nvlz701Gs3rrXZ8pXnW-ec.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans SC"), local("AlegreyaSansSC-Regular"), url("/fonts/6kgb6ZvOagoVIRZyl8XV-N-jslRKTPR3HuIggI2XWbo.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Sans SC"), local("AlegreyaSansSC-Regular"), url("/fonts/6kgb6ZvOagoVIRZyl8XV-GL2AW3E1oWj8j6lNowK7s4.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans SC ExtraBold"), local("AlegreyaSansSC-ExtraBold"), url("/fonts/AjAmkoP1y0Vaad0UPPR46ypWHMH0fI84TOB_olQD4ws.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans SC ExtraBold"), local("AlegreyaSansSC-ExtraBold"), url("/fonts/AjAmkoP1y0Vaad0UPPR46z6QrPUeJsryfR9LpcHlpqQ.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya Sans SC ExtraBold"), local("AlegreyaSansSC-ExtraBold"), url("/fonts/AjAmkoP1y0Vaad0UPPR4602OkiCdAbSeZ8lARI5Qf6A.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya Sans SC Italic"), local("AlegreyaSansSC-Italic"), url("/fonts/trwFkDJLOJf6hqM93944kdKF0h-QKwCHVsnC6mSvwzk.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya Sans SC Italic"), local("AlegreyaSansSC-Italic"), url("/fonts/trwFkDJLOJf6hqM93944kaL6I1uqyEfxZO_Hrd1hWeI.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya Sans SC Italic"), local("AlegreyaSansSC-Italic"), url("/fonts/trwFkDJLOJf6hqM93944kf6W3hK41fjTX2jZ56xSjUQ.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 800;
  src: local("Alegreya Sans SC ExtraBold Italic"), local("AlegreyaSansSC-ExtraBoldItalic"), url("/fonts/0VweK-TO3aQgazdxg8fs0AqeF2RIYYX2Cmgfdlf9vJs.woff2") format("woff2");
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 800;
  src: local("Alegreya Sans SC ExtraBold Italic"), local("AlegreyaSansSC-ExtraBoldItalic"), url("/fonts/0VweK-TO3aQgazdxg8fs0Ec8T_saAxsLSFqgO55M3rg.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 800;
  src: local("Alegreya Sans SC ExtraBold Italic"), local("AlegreyaSansSC-ExtraBoldItalic"), url("/fonts/0VweK-TO3aQgazdxg8fs0C6T9VFpcONOD56nIjVydig.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local("Merienda"), local("Merienda-Regular_0_wt"), url("/fonts/xsqI_wXnZDaQF3E9i3RnFxTbgVql8nDJpwnrE27mub0.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local("Merienda"), local("Merienda-Regular_0_wt"), url("/fonts/jzdtQ30m6V77-C5vjVpEXPesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 700;
  src: local("Merienda Bold"), local("Merienda-Bold"), url("/fonts/mbcww3uvDIvQ0VClREeMdCYE0-AqJ3nfInTTiDXDjU4.woff2") format("woff2");
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 700;
  src: local("Merienda Bold"), local("Merienda-Bold"), url("/fonts/mbcww3uvDIvQ0VClREeMdI4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /****************************/
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url(http://fonts.gstatic.com/s/alegreya/v7/4vRXIs1BEbKX6mQ7lGu1I_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreya/v7/MYFQxfgoxFvFirdbdLj3M_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Bold'), local('Alegreya-Bold'), url(http://fonts.gstatic.com/s/alegreya/v7/F5BSMOSf_T8GT2wiqqpj3Y4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreya/v7/F5BSMOSf_T8GT2wiqqpj3YbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Black'), local('Alegreya-Black'), url(http://fonts.gstatic.com/s/alegreya/v7/77GwhzeWPpmLIJUaM8KhxI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreya/v7/77GwhzeWPpmLIJUaM8KhxIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Italic'), local('Alegreya-Italic'), url(http://fonts.gstatic.com/s/alegreya/v7/Q-XbT1m22Fi9BEKb7y59O_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreya/v7/Q-XbT1m22Fi9BEKb7y59OxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'), url(http://fonts.gstatic.com/s/alegreya/v7/IWi8e5bpnqhMRsZKTcTUWoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreya/v7/IWi8e5bpnqhMRsZKTcTUWgFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya Black Italic'), local('Alegreya-BlackItalic'), url(http://fonts.gstatic.com/s/alegreya/v7/-L71QLH_XqgYWaI1GbOVhsjsb7Oq0o-uqUFW7Ygu5rM.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreya/v7/-L71QLH_XqgYWaI1GbOVhoPAkl-0rCkX4F4zIO7lYWE.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya SC'), local('AlegreyaSC-Regular'), url(http://fonts.gstatic.com/s/alegreyasc/v6/-74JUGs8W14C5cCBFRS3044P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasc/v6/-74JUGs8W14C5cCBFRS304bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya SC Bold'), local('AlegreyaSC-Bold'), url(http://fonts.gstatic.com/s/alegreyasc/v6/M9OIREoxDkvynwTpBAYUq4lIZu-HDpmDIZMigmsroc4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasc/v6/M9OIREoxDkvynwTpBAYUqzqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya SC Black'), local('AlegreyaSC-Black'), url(http://fonts.gstatic.com/s/alegreyasc/v6/M9OIREoxDkvynwTpBAYUq8pPZoEQdaDZ3o3Np19rzJk.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasc/v6/M9OIREoxDkvynwTpBAYUq0ExzZ44ka2Lr5i-x5aWr0E.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya SC Italic'), local('AlegreyaSC-Italic'), url(http://fonts.gstatic.com/s/alegreyasc/v6/GOqmv3FLsJ2r6ZALMZVBmsu2Q0OS-KeTAWjgkS85mDg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasc/v6/GOqmv3FLsJ2r6ZALMZVBmtkZXW4sYc4BjuAIFc1SXII.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya SC Bold Italic'), local('AlegreyaSC-BoldItalic'), url(http://fonts.gstatic.com/s/alegreyasc/v6/5PCoU7IUfCicpKBJtBmP6Y9ObOXPY1wUIXqKtDjSdsY.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasc/v6/5PCoU7IUfCicpKBJtBmP6QRV2F9RPTaqyJ4QibDfkzM.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya SC Black Italic'), local('AlegreyaSC-BlackItalic'), url(http://fonts.gstatic.com/s/alegreyasc/v6/5PCoU7IUfCicpKBJtBmP6Tf7N2bZoScLc-44q5CB23E.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasc/v6/5PCoU7IUfCicpKBJtBmP6R6wl36qhJi1relg7eY3aj0.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url(http://fonts.gstatic.com/s/alegreyasans/v3/KYNzioYhDai7mTMnx_gDgsmBRJoLbs7X6hY7yFEc97Q.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasans/v3/KYNzioYhDai7mTMnx_gDgtUFqmyT-Ih543PWa_C0ig4.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9aVZp3tKiB9YnYzAIdkxupX8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9aeu_tG0Yx7qqITjSOZkMZIk.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9acrysgx4XYXiGyd0rEkyLBs.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9ae1ouKFe7zgu3OIJnKP8_aw.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold'), local('AlegreyaSans-ExtraBold'), url(http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9aVvTxhR-HurA7zKsTVg5Awk.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9aUpiVnwz0M_Hy6Y_FZjz5LA.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Sans Black'), local('AlegreyaSans-Black'), url(http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9acttC1UWWH1Hne0t2gWY82A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9abdQ0nQrULdvYyyVgtJkSzU.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans Italic'), local('AlegreyaSans-Italic'), url(http://fonts.gstatic.com/s/alegreyasans/v3/TKyx_-JJ6MdpQruNk-t-PPOSZGZVnZh1qFL4FBVulds.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasans/v3/TKyx_-JJ6MdpQruNk-t-PM_0Gg_psQEhwRxPwkVXUB8.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Alegreya Sans Medium Italic'), local('AlegreyaSans-MediumItalic'), url(http://fonts.gstatic.com/s/alegreyasans/v3/WfiXipsmjqRqsDBQ1bA9Ct_IqBrMQJeb3btf4G2wJuM.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasans/v3/WfiXipsmjqRqsDBQ1bA9Cjz7UTTuXWmzX65m1n9Ltf4.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Sans Bold Italic'), local('AlegreyaSans-BoldItalic'), url(http://fonts.gstatic.com/s/alegreyasans/v3/WfiXipsmjqRqsDBQ1bA9CsYBCjQycNOg465W8lWeYjs.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasans/v3/WfiXipsmjqRqsDBQ1bA9CvQp_31g0rjXKZ8Gm9SMcKk.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold Italic'), local('AlegreyaSans-ExtraBoldItalic'), url(http://fonts.gstatic.com/s/alegreyasans/v3/WfiXipsmjqRqsDBQ1bA9CtoLup_JzTqNKwLJ6RzBh8g.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasans/v3/WfiXipsmjqRqsDBQ1bA9CrCg-HxJJqxN4VXdlZqPV8c.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya Sans Black Italic'), local('AlegreyaSans-BlackItalic'), url(http://fonts.gstatic.com/s/alegreyasans/v3/WfiXipsmjqRqsDBQ1bA9CuNlVeDectUokiFkVZNBZa4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasans/v3/WfiXipsmjqRqsDBQ1bA9Cjd0jJVdcA9m8Zd2UWAUCg8.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC'), local('AlegreyaSansSC-Regular'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/6kgb6ZvOagoVIRZyl8XV-GL2AW3E1oWj8j6lNowK7s4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/6kgb6ZvOagoVIRZyl8XV-KisNWI8qEu_hw_BXmaMF84.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 800;
  src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/AjAmkoP1y0Vaad0UPPR4602OkiCdAbSeZ8lARI5Qf6A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/AjAmkoP1y0Vaad0UPPR468y6vRMepCMP8fwNNQqXFDo.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/trwFkDJLOJf6hqM93944kf6W3hK41fjTX2jZ56xSjUQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/trwFkDJLOJf6hqM93944kfZ3aPmwBU9Ffnzf9nFAeC8.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 800;
  src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/0VweK-TO3aQgazdxg8fs0C6T9VFpcONOD56nIjVydig.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/0VweK-TO3aQgazdxg8fs0NrXpOm10Q8-bLoQizC2M-s.woff) format('woff');
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda'), local('Merienda-Regular_0_wt'), url(http://fonts.gstatic.com/s/merienda/v4/jzdtQ30m6V77-C5vjVpEXPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/merienda/v4/4NYVQDcgs3Fbi_xdFMC7lPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 700;
  src: local('Merienda Bold'), local('Merienda-Bold'), url(http://fonts.gstatic.com/s/merienda/v4/mbcww3uvDIvQ0VClREeMdI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/merienda/v4/mbcww3uvDIvQ0VClREeMdIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
body {
  background-color: transparent;
  color: #340a0b;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  min-height: 100%;
}
a {
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  text-decoration: none;
}
a:hover {
  color: #340a0b;
  text-decoration: none;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  clear: both;
  font-family: Merienda, sans-serif;
  color: white;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
}
h3 {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  font-weight: 500;
}
h4 {
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: -1px;
  font-family: Merienda, sans-serif;
  color: #9e5837;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  text-transform: lowercase;
}
h5 {
  margin-top: -1px;
  margin-bottom: 6px;
  color: #9e5837;
  font-size: 16px;
  font-weight: 700;
}
p {
  max-width: 640px;
  margin-bottom: 5px;
}
img {
  vertical-align: middle;
  display: inline-block;
}
nav.navbar {
  background-color: #ff5d47;
  top: 0;
  left: 0;
  position: fixed;
  /*** FONT-SIZE ***/
  width: 100%;
  border-radius: 0;
  /*overflow-x: hidden;*/
  /*overflow-y: hidden;*/
  border: 0;
  padding: 2px 0;
  z-index: 1;
  /*** ANIMATIONS - KEYFRAMES ***/
}
@media (min-width: 992px) {
  nav.navbar {
    width: 10%;
    height: 100vh;
    padding-top: 20px;
  }
}
nav.navbar .navbar {
  min-height: 34px;
  margin-bottom: 0;
  border: 0;
}
nav.navbar .navbar-collapse {
  /*** ANIMATIONS - KEYFRAMES ***/
}
@media (min-width: 992px) {
  nav.navbar .navbar-collapse {
    padding: 0;
  }
}
nav.navbar .navbar-collapse ul {
  margin-top: 0;
}
nav.navbar .navbar-collapse ul li {
  float: none;
}
nav.navbar .navbar-collapse ul li a {
  width: 100%;
}
nav.navbar .navbar-toggle {
  margin-top: 1px;
  padding: 7px;
}
nav.navbar .navbar-toggle:hover {
  background-color: #036d70;
}
nav.navbar .navbar-toggle .icon-bar {
  background-color: white;
}
nav.navbar ul {
  /*** ANIMATIONS - KEYFRAMES ***/
  border-top: 1px solid rgba(237, 237, 199, 0.09);
}
@media (min-width: 992px) {
  nav.navbar ul {
    width: 100%;
  }
}
nav.navbar ul li {
  margin-bottom: 0;
  font-style: italic;
  text-align: left;
  width: auto;
  margin-right: 1px;
  float: left;
  border-bottom-style: none;
  line-height: 16px;
  /*float: none;*/
  /*** ANIMATIONS - KEYFRAMES ***/
}
@media (min-width: 992px) {
  nav.navbar ul li {
    width: 100%;
    border-bottom: 1px solid rgba(237, 237, 199, 0.11);
  }
}
nav.navbar ul li a {
  padding: 6px 13px 6px 12px;
  /*** ANIMATIONS - KEYFRAMES ***/
  font-family: 'Alegreya Sans', sans-serif;
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  letter-spacing: 0.3px;
  text-decoration: none;
  outline: 0;
  display: inline-block;
}
@media (min-width: 992px) {
  nav.navbar ul li a {
    padding: 6px 8px;
    width: 100%;
    font-size: 14px;
  }
}
nav.navbar ul li a:focus, nav.navbar ul li a:hover, nav.navbar ul li a.active {
  outline: 0;
}
nav.navbar ul li.home {
  background-image: url("/img/layout/logo.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 4% 50%;
  position: relative;
  /*** ANIMATIONS - KEYFRAMES ***/
}
@media (min-width: 992px) {
  nav.navbar ul li.home {
    background-size: 50px;
    background-position: 50% 50%;
  }
}
nav.navbar ul li.home:hover, nav.navbar ul li.home:focus {
  background-color: transparent;
}
nav.navbar ul li.home.active {
  background-color: #036d70;
}
nav.navbar ul li.home a {
  min-height: 16px;
  padding-left: 32px;
  /*** ANIMATIONS - KEYFRAMES ***/
}
nav.navbar ul li.home a:hover, nav.navbar ul li.home a:focus {
  background-color: transparent;
}
@media (min-width: 992px) {
  nav.navbar ul li.home a {
    min-height: 80px;
  }
}
nav.navbar ul li.home a span {
  display: block;
  /*** ANIMATIONS - KEYFRAMES ***/
}
@media (min-width: 992px) {
  nav.navbar ul li.home a span {
    display: none;
  }
}
nav.navbar ul li.news a:hover, nav.navbar ul li.news a:focus, nav.navbar ul li.news a.active {
  background-color: #8278b3;
}
nav.navbar ul li.events a:hover, nav.navbar ul li.events a:focus, nav.navbar ul li.events a.active {
  background-color: #4eaacf;
}
nav.navbar ul li.galleries a:hover, nav.navbar ul li.galleries a:focus, nav.navbar ul li.galleries a.active {
  background-color: #e389e8;
}
nav.navbar ul li a:hover, nav.navbar ul li a:focus, nav.navbar ul li a.active {
  background-color: #036d70;
}
nav.navbar ul ul.project-list {
  display: none;
  /*** ANIMATIONS - KEYFRAMES ***/
}
@media (min-width: 992px) {
  nav.navbar ul ul.project-list {
    display: block;
  }
}
nav.navbar ul ul.project-list li:hover a, nav.navbar ul ul.project-list li.active a {
  background-color: rgba(0, 0, 0, 0.09);
}
nav.navbar ul ul.project-list li a {
  background-color: rgba(255, 255, 255, 0.09);
  padding-left: 15px;
  font-size: 10px;
}
nav.navbar ul .projects:hover ul.project-list, nav.navbar ul .projects:active ul.project-list {
  display: block;
  z-index: 1000;
  background-color: #ff5d47;
}
nav.navbar a {
  color: rgba(255, 255, 255, 0.85);
}
#main {
  top: auto;
  right: 0;
  position: fixed;
  /*** FONT-SIZE ***/
  /*** ANIMATIONS - KEYFRAMES ***/
  width: 100%;
  height: 100vh;
  border-radius: 0;
  border: 0;
  overflow-x: auto;
  overflow-y: auto;
}
@media (min-width: 992px) {
  #main {
    width: 90%;
  }
}
#main .body {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 48px 0 100px;
  border-bottom: 5px solid #ff5d47;
  border-left: 2px none #ff5d47;
  background-image: url(/img/layout/bg_texture.png);
}
#main .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 728px;
  /*** ANIMATIONS - KEYFRAMES ***/
}
@media (min-width: 992px) {
  #main .container {
    max-width: 940px;
  }
}
.search {
  top: 20px;
  right: 5px;
  bottom: auto;
  left: auto;
  position: absolute;
  /*** FIXED POSITIONING ***/
  width: 100%;
  padding-right: 20px;
  margin: 0 0 15px;
}
.w-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}
.input-search {
  width: 40%;
  height: 30px;
  float: right;
  border: 0px solid black;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.49);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  /*** ***/
  /*** ***/
  /*** ***/
  /*** ***/
}
.input-search:hover, .input-search:focus {
  background-color: white;
}
.bot-o-submit-search {
  top: 4px;
  right: 8px;
  bottom: auto;
  left: auto;
  position: absolute;
  /*** FIXED POSITIONING ***/
  width: 17px;
  height: 20px;
  margin-right: 20px;
  padding: 0px;
  background-color: transparent;
  background-image: url(/img/layout/search.svg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  line-height: 19px;
  text-align: center;
}
.row {
  /************** HEADER **************/
}
.row.home {
  margin-top: 30px;
}
.row.agenda .projects {
  margin-top: 0;
  height: 20px;
  min-height: 20px;
  padding-top: 0;
  padding-bottom: 30px;
}
.row.agenda .projects .project-select {
  background-color: transparent;
}
.row.agenda .projects .project-select a.active {
  background-color: #e389e8;
}
.row .projects {
  position: relative;
  margin-top: 40px;
  padding: 2.5% 2% 60px;
  background-color: #ffe587;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px inset;
  min-height: 260px;
}
.row .projects h4 {
  margin-bottom: 24px;
  margin-left: -1px;
  font-family: Merienda, sans-serif;
  color: #ff5d47;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  text-transform: lowercase;
}
.row .projects .visit-proj {
  display: block;
  width: 100%;
  padding: 4px 8px;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: rgba(0, 0, 0, 0.23);
  background-color: #f7d142;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #340a0b;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: lowercase;
}
.row .projects .project-select {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  /*** FIXED POSITIONING ***/
  width: 100%;
  height: 30px;
  padding-right: 4%;
  padding-left: 4%;
  border-top: 1px none rgba(52, 10, 11, 0.36);
  background-color: rgba(255, 255, 255, 0.2);
}
.row .projects .project-select a {
  display: block;
  height: 100%;
  margin-right: 2px;
  padding: 2px 11px;
  float: left;
  background-color: rgba(255, 255, 255, 0.29);
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #340a0b;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
}
.row .projects .project-select a:hover {
  background-color: rgba(247, 247, 237, 0.76);
}
.row .projects .project-select a.active {
  background-color: rgba(52, 10, 11, 0.52);
  color: #f7f7ed;
  text-decoration: none;
}
.row .projects .fact_site_minipreview.active {
  display: block;
}
.row .projects .fact_site_minipreview {
  display: none;
}
.header {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  color: white;
}
.header .header-data {
  position: static;
  bottom: 30px;
  padding-right: 2%;
  padding-left: 2%;
  font-weight: 500;
  text-shadow: none;
}
.header .header-data h1 {
  margin-left: -30px;
  padding-top: 87px;
  padding-left: 30px;
  background-image: url(/img/layout/logo.svg);
  background-size: 110px;
  background-repeat: no-repeat;
  /*text-shadow: white -1px -1px 0px, white 1px -1px 0px;*/
  color: white;
  font-size: 27px;
  line-height: 36px;
}
.header .header-data h1.title {
  margin-top: 22px;
  margin-bottom: 24px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 37px;
  font-weight: 400;
}
div.about_project {
  background-color: rgba(158, 88, 55, 0.21);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
div.about_project .about {
  color: white;
  padding-left: 2%;
}
.pages .header {
  margin-top: 30px;
}
.pages .header .header-data h1 {
  padding-top: 0px;
  background-image: none;
  background-position: 0% 0%;
  font-size: 22px;
  line-height: 33px;
}
.pages .header .header-data h1.title {
  padding-top: 0px;
  background-image: none;
  background-position: 0% 0%;
  color: #4a1234;
  font-size: 37px;
  font-weight: 500;
}
.agenda .header .header-data h1.title {
  color: #0a8d91;
}
.news .header .header-data h1.title {
  color: #8278b3;
}
.galeria .header .header-data h1.title {
  color: #e389e8;
  /********* POST LISTING ***********/
}
.posts-list {
  margin-left: -10px;
  margin-right: -10px;
}
.posts-list .col-lg-1, .posts-list .col-lg-10, .posts-list .col-lg-11, .posts-list .col-lg-12, .posts-list .col-lg-2, .posts-list .col-lg-3, .posts-list .col-lg-4, .posts-list .col-lg-5, .posts-list .col-lg-6, .posts-list .col-lg-7, .posts-list .col-lg-8, .posts-list .col-lg-9, .posts-list .col-md-1, .posts-list .col-md-10, .posts-list .col-md-11, .posts-list .col-md-12, .posts-list .col-md-2, .posts-list .col-md-3, .posts-list .col-md-4, .posts-list .col-md-5, .posts-list .col-md-6, .posts-list .col-md-7, .posts-list .col-md-8, .posts-list .col-md-9, .posts-list .col-sm-1, .posts-list .col-sm-10, .posts-list .col-sm-11, .posts-list .col-sm-12, .posts-list .col-sm-2, .posts-list .col-sm-3, .posts-list .col-sm-4, .posts-list .col-sm-5, .posts-list .col-sm-6, .posts-list .col-sm-7, .posts-list .col-sm-8, .posts-list .col-sm-9, .posts-list .col-xs-1, .posts-list .col-xs-10, .posts-list .col-xs-11, .posts-list .col-xs-12, .posts-list .col-xs-2, .posts-list .col-xs-3, .posts-list .col-xs-4, .posts-list .col-xs-5, .posts-list .col-xs-6, .posts-list .col-xs-7, .posts-list .col-xs-8, .posts-list .col-xs-9 {
  padding-right: 10px;
  padding-left: 10px;
}
.posts-list .post {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 240px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 0px 0px 3px 3px;
  border-color: black;
  border-radius: 0px;
  background-color: #f7f7ed;
  box-shadow: none;
}
.posts-list .post.new {
  border-color: rgba(130, 120, 179, 0.29);
}
.posts-list .post.new h6 {
  background-color: rgba(130, 120, 179, 0.29);
  color: #8278b3;
}
.posts-list .post.event {
  border-color: rgba(78, 170, 207, 0.29);
}
.posts-list .post.event h6 {
  background-color: rgba(78, 170, 207, 0.29);
  color: #4eaacf;
}
.posts-list .post.gallery {
  border-color: rgba(227, 137, 232, 0.29);
}
.posts-list .post.gallery h6 {
  background-color: rgba(227, 137, 232, 0.29);
  color: #e389e8;
}
.posts-list .post .project {
  position: absolute;
  left: 0px;
  bottom: 6px;
  z-index: 2;
  height: 20px;
  padding-right: 6px;
  padding-left: 6px;
  border-width: 0px;
  background-color: #ffe587;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
}
.posts-list .post .post-footer-hidder {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  height: 40px;
  background-image: -webkit-linear-gradient(rgba(247, 247, 237, 0), #f7f7ed);
  background-image: linear-gradient(rgba(247, 247, 237, 0), #f7f7ed);
}
.posts-list .post-type {
  position: absolute;
  top: 5px;
  right: 0px;
  margin-top: -5px;
  padding: 2px 6px 5px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: lowercase;
}
.posts-list .post-date {
  margin-bottom: 5px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.posts-list a {
  color: #340a0b;
}
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.unlisted {
  list-style: none;
}
.footer {
  padding: 30px 4% 60px;
  background-color: #f7f7ed;
  font-size: 12px;
  line-height: 18px;
  /************ HEADER *********/
}
.footer .container {
  margin-top: 30px;
  padding-left: 0;
  padding-right: 0;
}
.footer ul.support-list {
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 50px;
  border-top-color: #68ad68;
  list-style: none;
  padding-left: 0;
}
.footer ul.support-list img {
  width: 100%;
}
.footer ul.partners-list {
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 50px;
  border-style: solid dashed dashed;
  border-width: 2px 1px 1px;
  border-top-color: #68ad68;
  list-style: none;
  padding: 10px;
}
.footer ul.partners-list li {
  height: 60px;
  margin-right: 40px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  float: left;
}
.footer ul.partners-list .links {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #68ad68;
}
.footer ul.rede {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #68ad68;
  padding-left: 0;
}
.footer ul.rede li {
  margin-right: 10px;
  float: left;
}
.footer a.rede {
  color: #340a0b;
  text-decoration: underline;
}
.footer a.rede.unit {
  font-size: 14px;
}
.bread-crumb {
  margin-right: 10px;
  float: left;
  color: #ededc7;
  font-size: 11px;
}
a.link-vsky {
  color: white;
  text-decoration: underline;
}
hr.full {
  border-top: 1px solid #ededc7;
}
.meta {
  color: white;
  padding-right: 30px;
  /**************** NEWS ********************/
}
.meta > div {
  margin-bottom: 12px;
}
.meta hr.meta {
  height: 2px;
  margin-right: 30px;
  margin-bottom: 12px;
  border-top: 1px solid #ededc7;
  border-bottom: 1px none #878782;
}
.pie_text p {
  max-width: 100%;
  margin-bottom: 26px;
  float: left;
  clear: both;
  font-family: Alegreya, sans-serif;
  color: white;
  font-size: 18px;
  line-height: 26px;
}
.pie_title h4 {
  font-family: 'Alegreya Sans', sans-serif;
  width: 100%;
  margin-top: 26px;
  margin-bottom: 13px;
  color: #ededc7;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  font-weight: 500;
}
.pie_image .subtitle {
  width: 75%;
  margin-bottom: 26px;
  float: right;
  color: white;
  font-size: 14px;
  line-height: 19px;
  font-style: italic;
}
.pie_image img {
  width: 100%;
  margin-bottom: 26px;
}
h5.related_content {
  margin-top: 20px;
  color: #ededc7;
  float: left;
}
div.related_content {
  margin-top: -20px;
  /**************** AGENDA ********************/
}
.agenda {
  /******* ABOUT ******/
}
.agenda .incoming, .agenda .occurred {
  display: none;
  margin-top: 80px;
}
.agenda .incoming.active, .agenda .occurred.active {
  display: block;
}
.agenda .incoming .year, .agenda .occurred .year {
  font-size: 18px;
}
.agenda .incoming .month, .agenda .occurred .month {
  margin-top: 5px;
  font-family: Merienda, sans-serif;
  color: #ededc7;
  font-size: 18px;
  font-weight: 400;
}
.agenda .event-list {
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: -20px;
  padding-top: 0px;
  border-left: 3px solid #f7d142;
}
.agenda .event-list .posts-list {
  margin-top: 0;
}
.agenda .event-list .posts-list .event {
  border-bottom-width: 3px;
  border-left-width: 3px;
  box-shadow: none;
  width: 643px;
  height: 97px;
  margin-bottom: 10px;
  border-bottom: 3px solid rgba(78, 170, 207, 0.29);
  border-left: 3px solid rgba(78, 170, 207, 0.29);
  background-color: #f7f7ed;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 5px;
}
.agenda .event-list .posts-list .event .post-place {
  margin-top: 10px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}
#about {
  margin-top: 50px;
}
#about .title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Merienda, sans-serif;
  color: white;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
}
#about .pie_text p {
  font-size: 20px;
}
#main .home-project {
  padding-top: 40px;
  background-size: auto, auto;
}
#main .home-project.projeto-ecoforte {
  background-image: url(/img/layout/ecoforte_bg_texture.png);
}
#main .home-project .projeto {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7%;
  padding-bottom: 15px;
  font-family: 'Alegreya Sans', sans-serif;
  position: relative;
  padding: 2.5% 0% 60px;
}
#main .home-project .projeto h4.project-title {
  color: #9e5837;
}
#main .home-project .projeto h3.project-title-inside {
  margin-top: -15px;
  font-family: Merienda, sans-serif;
  color: #340a0b;
  font-size: 27px;
  line-height: 36px;
  font-style: normal;
}
#main .home-project .about_project {
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(32, 145, 81, 0.38);
}
