/*** BORDER RADIUS ***/
/****** PLACEHOLDERS - like mixins but don't repeat in the code ******/
/*** CLEARFIX ***/
/* latin-ext */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url(/fonts/9u9YGRxvkN-Oe2bJiJD80RTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url(/fonts/4vRXIs1BEbKX6mQ7lGu1I_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Bold'), local('Alegreya-Bold'), url(/fonts/F5BSMOSf_T8GT2wiqqpj3SYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Bold'), local('Alegreya-Bold'), url(/fonts/F5BSMOSf_T8GT2wiqqpj3Y4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Black'), local('Alegreya-Black'), url(/fonts/77GwhzeWPpmLIJUaM8KhxCYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Black'), local('Alegreya-Black'), url(/fonts/77GwhzeWPpmLIJUaM8KhxI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Italic'), local('Alegreya-Italic'), url(/fonts/6_pOq2_yZBqNy9oVYzitaiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Italic'), local('Alegreya-Italic'), url(/fonts/Q-XbT1m22Fi9BEKb7y59O_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'), url(/fonts/IWi8e5bpnqhMRsZKTcTUWhHJTnCUrjaAm2S9z52xC3Y.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'), url(/fonts/IWi8e5bpnqhMRsZKTcTUWoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya Black Italic'), local('Alegreya-BlackItalic'), url(/fonts/-L71QLH_XqgYWaI1GbOVhsvbOpOevl3wWYjwFvepnDU.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya Black Italic'), local('Alegreya-BlackItalic'), url(/fonts/-L71QLH_XqgYWaI1GbOVhsjsb7Oq0o-uqUFW7Ygu5rM.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya SC'), local('AlegreyaSC-Regular'), url(/fonts/-74JUGs8W14C5cCBFRS30yYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya SC'), local('AlegreyaSC-Regular'), url(/fonts/-74JUGs8W14C5cCBFRS3044P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya SC Bold'), local('AlegreyaSC-Bold'), url(/fonts/M9OIREoxDkvynwTpBAYUq-jkDdvhIIFj_YMdgqpnSB0.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya SC Bold'), local('AlegreyaSC-Bold'), url(/fonts/M9OIREoxDkvynwTpBAYUq4lIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya SC Black'), local('AlegreyaSC-Black'), url(/fonts/M9OIREoxDkvynwTpBAYUq7lR9l3n4ZtVZdCvvDPwi9o.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya SC Black'), local('AlegreyaSC-Black'), url(/fonts/M9OIREoxDkvynwTpBAYUq8pPZoEQdaDZ3o3Np19rzJk.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya SC Italic'), local('AlegreyaSC-Italic'), url(/fonts/GOqmv3FLsJ2r6ZALMZVBmk_0lycXMw8PhobHtu2Qgco.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya SC Italic'), local('AlegreyaSC-Italic'), url(/fonts/GOqmv3FLsJ2r6ZALMZVBmsu2Q0OS-KeTAWjgkS85mDg.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya SC Bold Italic'), local('AlegreyaSC-BoldItalic'), url(/fonts/5PCoU7IUfCicpKBJtBmP6fD-tiQYKMdw_jk-5jaY04o.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya SC Bold Italic'), local('AlegreyaSC-BoldItalic'), url(/fonts/5PCoU7IUfCicpKBJtBmP6Y9ObOXPY1wUIXqKtDjSdsY.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya SC Black Italic'), local('AlegreyaSC-BlackItalic'), url(/fonts/5PCoU7IUfCicpKBJtBmP6T6jLZc4L91jor6MlE_eF8s.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya SC Black Italic'), local('AlegreyaSC-BlackItalic'), url(/fonts/5PCoU7IUfCicpKBJtBmP6Tf7N2bZoScLc-44q5CB23E.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url(/fonts/KYNzioYhDai7mTMnx_gDgt01sE-sBCcxeIPQ5nVmD-Y.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url(/fonts/KYNzioYhDai7mTMnx_gDguo_hGDVFZ4kKx4ST9hVovI.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url(/fonts/KYNzioYhDai7mTMnx_gDgsmBRJoLbs7X6hY7yFEc97Q.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(/fonts/11EDm-lum6tskJMBbdy9aa-4WGWUxW6iB9F1ud5NG84.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(/fonts/11EDm-lum6tskJMBbdy9aStaEaHGbET_jfOf1wWvOeM.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(/fonts/11EDm-lum6tskJMBbdy9aVZp3tKiB9YnYzAIdkxupX8.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(/fonts/11EDm-lum6tskJMBbdy9aeM-raSl8_Jbtdwpx2yaBdM.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(/fonts/11EDm-lum6tskJMBbdy9aZa6PouP1CiMI7xm5Dvn5ZQ.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(/fonts/11EDm-lum6tskJMBbdy9acrysgx4XYXiGyd0rEkyLBs.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold'), local('AlegreyaSans-ExtraBold'), url(/fonts/11EDm-lum6tskJMBbdy9aWr-XwceRTrWw-Dcfd2rpWs.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold'), local('AlegreyaSans-ExtraBold'), url(/fonts/11EDm-lum6tskJMBbdy9afPI7llzpTvbw9FsJUCUVUY.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold'), local('AlegreyaSans-ExtraBold'), url(/fonts/11EDm-lum6tskJMBbdy9aVvTxhR-HurA7zKsTVg5Awk.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Sans Black'), local('AlegreyaSans-Black'), url(/fonts/11EDm-lum6tskJMBbdy9aWf8wld0-LUn8I8_pmZeAwA.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Sans Black'), local('AlegreyaSans-Black'), url(/fonts/11EDm-lum6tskJMBbdy9aYcG4Fy-7PSLN-4Q8e0HrLA.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Sans Black'), local('AlegreyaSans-Black'), url(/fonts/11EDm-lum6tskJMBbdy9acttC1UWWH1Hne0t2gWY82A.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans Italic'), local('AlegreyaSans-Italic'), url(/fonts/TKyx_-JJ6MdpQruNk-t-PKskfy01UkonBo9maszYh7o.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans Italic'), local('AlegreyaSans-Italic'), url(/fonts/TKyx_-JJ6MdpQruNk-t-PLk1-xwGt9xa0Iu_nuikx08.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans Italic'), local('AlegreyaSans-Italic'), url(/fonts/TKyx_-JJ6MdpQruNk-t-PPOSZGZVnZh1qFL4FBVulds.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Alegreya Sans Medium Italic'), local('AlegreyaSans-MediumItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9Crp-syeokkvALFJJdgYIid4.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Alegreya Sans Medium Italic'), local('AlegreyaSans-MediumItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9Cqv9F-ZWqXtpzGFhYryZbQo.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Alegreya Sans Medium Italic'), local('AlegreyaSans-MediumItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9Ct_IqBrMQJeb3btf4G2wJuM.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Sans Bold Italic'), local('AlegreyaSans-BoldItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9CkCjwY7mE5qVgYdv0YD6z_w.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Sans Bold Italic'), local('AlegreyaSans-BoldItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9CggVWpHKMcOZ85bmNksjcws.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Sans Bold Italic'), local('AlegreyaSans-BoldItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9CsYBCjQycNOg465W8lWeYjs.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold Italic'), local('AlegreyaSans-ExtraBoldItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9CoU5Lu9CDbe-_3QtA0qjyx8.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold Italic'), local('AlegreyaSans-ExtraBoldItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9CsP8pR76Cuw-8bnvATv8Dvg.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold Italic'), local('AlegreyaSans-ExtraBoldItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9CtoLup_JzTqNKwLJ6RzBh8g.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya Sans Black Italic'), local('AlegreyaSans-BlackItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9CiePsKlqtFpb7WnWt0gIgLc.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya Sans Black Italic'), local('AlegreyaSans-BlackItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9CvNehZMpJflHS-HhCXnt5WY.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya Sans Black Italic'), local('AlegreyaSans-BlackItalic'), url(/fonts/WfiXipsmjqRqsDBQ1bA9CuNlVeDectUokiFkVZNBZa4.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC'), local('AlegreyaSansSC-Regular'), url(/fonts/6kgb6ZvOagoVIRZyl8XV-Nvlz701Gs3rrXZ8pXnW-ec.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC'), local('AlegreyaSansSC-Regular'), url(/fonts/6kgb6ZvOagoVIRZyl8XV-N-jslRKTPR3HuIggI2XWbo.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC'), local('AlegreyaSansSC-Regular'), url(/fonts/6kgb6ZvOagoVIRZyl8XV-GL2AW3E1oWj8j6lNowK7s4.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 800;
  src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(/fonts/AjAmkoP1y0Vaad0UPPR46ypWHMH0fI84TOB_olQD4ws.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 800;
  src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(/fonts/AjAmkoP1y0Vaad0UPPR46z6QrPUeJsryfR9LpcHlpqQ.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 800;
  src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(/fonts/AjAmkoP1y0Vaad0UPPR4602OkiCdAbSeZ8lARI5Qf6A.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(/fonts/trwFkDJLOJf6hqM93944kdKF0h-QKwCHVsnC6mSvwzk.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(/fonts/trwFkDJLOJf6hqM93944kaL6I1uqyEfxZO_Hrd1hWeI.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'), url(/fonts/trwFkDJLOJf6hqM93944kf6W3hK41fjTX2jZ56xSjUQ.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* vietnamese */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 800;
  src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(/fonts/0VweK-TO3aQgazdxg8fs0AqeF2RIYYX2Cmgfdlf9vJs.woff2) format('woff2');
  unicode-range: U102-103, U1EA -1EF 1, U20AB;
  /* latin-ext */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 800;
  src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(/fonts/0VweK-TO3aQgazdxg8fs0Ec8T_saAxsLSFqgO55M3rg.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 800;
  src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'), url(/fonts/0VweK-TO3aQgazdxg8fs0C6T9VFpcONOD56nIjVydig.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda'), local('Merienda-Regular_0_wt'), url(/fonts/xsqI_wXnZDaQF3E9i3RnFxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda'), local('Merienda-Regular_0_wt'), url(/fonts/jzdtQ30m6V77-C5vjVpEXPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
  /* latin-ext */
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 700;
  src: local('Merienda Bold'), local('Merienda-Bold'), url(/fonts/mbcww3uvDIvQ0VClREeMdCYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U100-24F, U1E -1EFF, U20A -20AB, U20AD-20CF, U2C 58C 7F, UA720-A7FF;
  /* latin */
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 700;
  src: local('Merienda Bold'), local('Merienda-Bold'), url(/fonts/mbcww3uvDIvQ0VClREeMdI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
}
body {
  background-color: transparent;
  color: #225e8c;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  min-height: 100%;
}
a {
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  text-decoration: none;
}
nav.navbar {
  background-color: #ff5d47;
  top: 0;
  left: 0;
  position: fixed;
  /*** FONT-SIZE ***/
  width: 100%;
  height: 100vh;
  border-radius: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px 0 2px;
  /*** ANIMATIONS - KEYFRAMES ***/
}
nav.navbar .navbar {
  border: 0;
}
@media (min-width: 50em) {
  nav.navbar {
    width: 10%;
  }
}
nav.navbar .container-fluid {
  /*** ANIMATIONS - KEYFRAMES ***/
}
@media (min-width: 50em) {
  nav.navbar .container-fluid {
    display: none;
  }
}
nav.navbar ul {
  /*** ANIMATIONS - KEYFRAMES ***/
}
nav.navbar ul.left-block {
  border-top: 1px solid rgba(237, 237, 199, 0.09);
}
@media (min-width: 50em) {
  nav.navbar ul {
    float: none;
  }
}
nav.navbar ul li {
  width: 100%;
  margin-bottom: 0;
  padding: 6px 8px;
  border-bottom: 1px solid rgba(237, 237, 199, 0.11);
  font-style: italic;
  text-align: left;
}
nav.navbar ul li a {
  font-family: 'Alegreya Sans', sans-serif;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  letter-spacing: 0.3px;
  text-decoration: none;
  padding: 0;
  outline: 0;
}
nav.navbar ul li a:focus, nav.navbar ul li a:hover, nav.navbar ul li a.active {
  outline: 0;
  background-color: transparent;
}
nav.navbar ul li.home {
  background-image: url("/img/layout/logo.svg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 80px;
  position: relative;
}
nav.navbar ul li.home a {
  display: block;
  /*** ANIMATIONS - KEYFRAMES ***/
}
@media (min-width: 50em) {
  nav.navbar ul li.home a {
    display: none;
  }
}
nav.navbar ul li:hover, nav.navbar ul li:focus, nav.navbar ul li.active {
  background-color: #036d70;
}
nav.navbar ul li:hover.news, nav.navbar ul li:focus.news, nav.navbar ul li.active.news {
  background-color: #8278b3;
}
nav.navbar ul li:hover.events, nav.navbar ul li:focus.events, nav.navbar ul li.active.events {
  background-color: #4eaacf;
}
nav.navbar ul li:hover.galleries, nav.navbar ul li:focus.galleries, nav.navbar ul li.active.galleries {
  background-color: #e389e8;
}
nav.navbar a {
  color: rgba(255, 255, 255, 0.85);
}
.search {
  top: 20;
  right: 5;
  bottom: auto;
  left: auto;
  position: absolute;
  /*** FIXED POSITIONING ***/
  width: 100%;
  padding-right: 20px;
}
.input-search {
  width: 40%;
  height: 30px;
  float: right;
  border: 0px solid black;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.49);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  /*** ***/
  /*** ***/
  /*** ***/
  /*** ***/
}
.input-search:hover, .input-search:focus {
  background-color: white;
}
.bot-o-submit-search {
  position: absolute;
  top: 4px;
  right: 8px;
  width: 17px;
  height: 20px;
  margin-right: 20px;
  padding: 0px;
  background-color: transparent;
  background-image: url(/img/layout/search.svg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  line-height: 19px;
  text-align: center;
}
