$menu-bg: #FF5D47;
$menu-fg: rgba(255,255,255,0.85);

$fg: #225e8c; 
$bg: transparent;

$border-top: rgba(237, 237, 199);
$border-top-nav: rgba($border-top, 0.09);
$border-top-li: rgba($border-top, 0.11);

$menu-a: rgba(255, 255, 255, 0.85);

$active-default: #036d70;
$news: #8278b3;
$events: #4eaacf;
$galleries: #e389e8;
$inside-projetos: rgba(0, 0, 0, 0.09);

$input-search-bg: rgba(255, 255, 255, 0.49);
