@import "layout/colors";
@import "layout/mixins";
@import "layout/placeholders";
@import "layout/fonts";

body {
  background-color: $bg;
  color: $fg;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  min-height: 100%;
}

a {
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  text-decoration: none;
  &:hover {
    color: $a-fg; 
    text-decoration: none;
  }
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  clear: both;
  font-family: Merienda, sans-serif;
  color: white;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
}

h3 {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  font-weight: 500;
}

h4 {
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: -1px;
  font-family: Merienda, sans-serif;
  color: #9e5837;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  text-transform: lowercase;
}

h5 {
  margin-top: -1px;
  margin-bottom: 6px;
  color: #9e5837;
  font-size: 16px;
  font-weight: 700;
}

p {
  max-width: 640px;
  margin-bottom: 5px;
}

nav.navbar {
  background-color: $menu-bg;
  @include fix-pos(0,0, top,left);
  width: 100%;
  border-radius: 0;
  border: 0;
  /*overflow-x: hidden;*/
  /*overflow-y: hidden;*/
  padding: 2px 0;
  z-index: 1;

  // vertical beginning in md
  @include breakpoint(medium) {
    width: 10%;
    height: 100vh;
    padding-top: 20px;
  }

  .navbar {
    min-height: 34px;
    margin-bottom: 0;
    border: 0;
  }

  .navbar-collapse {
    @include breakpoint(medium) { padding: 0; }
    ul {
      margin-top: 0;
      li {
        float: none;
        a {
          width: 100%;
        }
      }
    }
  }

  .navbar-toggle {
    &:hover {
      background-color: $button-bg; 
    }
    margin-top: 1px;
    padding: 7px;
    .icon-bar {
      background-color: white;
    }
  }
  ul {
    @include breakpoint(medium) {
      width: 100%
    }
    border-top: 1px solid $border-top-nav;


    li {
      margin-bottom: 0;
      font-style: italic;
      text-align: left;
      width: auto;
      margin-right: 1px;
      float: left;
      border-bottom-style: none;
      line-height: 16px;

      @include breakpoint(medium) {
        /*float: none;*/
        width: 100%;
        border-bottom: 1px solid $border-top-li;
      }

      // li a
      a {
        padding: 6px 13px 6px 12px;
        @include breakpoint(medium) {
          padding: 6px 8px;
          width: 100%;
          font-size: 14px;
        }

        font-family: 'Alegreya Sans', sans-serif;
        color: $menu-a; 
        font-size: 12px;
        letter-spacing: 0.3px;
        text-decoration: none;
        outline: 0;
        display: inline-block;
        &:focus, &:hover, &.active {
          outline: 0;
        }
      }

      // li.home
      &.home {
        background-image: url("/img/layout/logo.svg");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 4% 50%;
        position: relative;
        @include breakpoint(medium) {
          background-size: 50px;
          background-position: 50% 50%;
        }
        
        &:hover, &:focus {
          background-color: transparent;
        }
        &.active {
          background-color: $active-default;
        }
        a {
          &:hover, &:focus {
            background-color: transparent;
          }
          min-height: 16px;
          padding-left: 32px;
          @include breakpoint(medium) {
            min-height: 80px;
          }

          span {
            display:block;
            @include breakpoint(medium) {
              display: none;
            }
          }
        }

      }
      &.news {
        a:hover, a:focus, a.active {
          background-color: $news;
        }
      }
      &.events  {
        a:hover, a:focus, a.active {
          background-color: $events;
        }
      }
      &.galleries {
        a:hover, a:focus, a.active {
          background-color: $galleries;
        }
      }
      a:hover, a:focus, a.active {
          background-color: $active-default;
      }
    }
    ul.project-list {
      /*position: absolute;*/
      display: none;
      @include breakpoint(medium) { display: block }
      li {
        &:hover,&.active {
         a { background-color: $inside-projetos-h;}
        }
        a {
          background-color: $inside-projetos;
          padding-left: 15px;
          font-size: 10px;
        }
      }
    }
    .projects:hover, .projects:active {
      ul.project-list {
        display: block;
        z-index: 1000;
        background-color: $menu-bg;
      }
    } 
  }

  a {
    color: $menu-fg;

  }
}

#main {
  @include fix-pos(auto,0, top,right);
  @include breakpoint(medium) { width: 90%; }
  width: 100%;
  height: 100vh;
  border-radius: 0;
  border: 0;
  overflow-x: auto;
  overflow-y: auto;

  .body {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding: 48px 0 100px;
    border-bottom: 5px solid $main-border;
    border-left: 2px none $main-border;
    background-image: url(/img/layout/bg_texture.png);

  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 728px;
    @include breakpoint(medium) {
      max-width: 940px;
    }
  }
}

// SEARCH
.search {
  @include abs-pos(20px,5px);
  width: 100%;
  padding-right: 20px;
  margin: 0 0 15px;
}

.w-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
}

.input-search {
  width: 40%;
  height: 30px;
  float: right;
  border: 0px solid black;
  border-radius: 4px;
  background-color: $input-search-bg;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  @include transition(all 100ms ease);
}
.input-search:hover,.input-search:focus {
  background-color: white;
}
.bot-o-submit-search {
  @include abs-pos(4px,8px);
  width: 17px;
  height: 20px;
  margin-right: 20px;
  padding: 0px;
  background-color: transparent;
  background-image: url(/img/layout/search.svg);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  line-height: 19px;
  text-align: center;
}

//HOME
.row.home {
  margin-top: 30px;
  .projects {
    position: relative;
    margin-top: 40px;
    margin-bottom: -26px;
    padding: 2.5% 2% 60px;
    background-color: $projects-box;
    box-shadow: $projects-shadow 0px 0px 0px 1px inset;
    min-height: 260px;

    .visit-proj {
      display: block;
      width: 100%;
      padding: 4px 8px;
      border-style: solid;
      border-width: 1px 1px 3px;
      border-color: $view-project-border;
      background-color: $view-project-bg;
      font-family: 'Alegreya Sans SC', sans-serif;
      color: $view-project-fg;
      text-align: center;
      letter-spacing: 0.4px;
      text-transform: lowercase;
    }
    .project-select {
      @include abs-pos(auto,0,0,0);
      width: 100%;
      height: 30px;
      padding-right: 4%;
      padding-left: 4%;
      border-top: 1px none $select-project-border;
      background-color: $select-project-bg;

      a {
        display: block;
        height: 100%;
        margin-right: 2px;
        padding: 2px 11px;
        float: left;
        background-color: $select-project-link-bg;
        font-family: 'Alegreya Sans SC', sans-serif;
        color: $select-project-link-fg;
        font-size: 12px;
        letter-spacing: 0.4px;
        text-transform: lowercase;

        &:hover {
          background-color: $select-project-link-hover;
        }
        &.active {
          background-color: $select-project-link-selected-bg;
          color: $select-project-link-selected-fg;
          text-decoration: none;
        }
      }
    }

    .fact_site_minipreview.active {
      display: block;
    }
    .fact_site_minipreview {
      display: none;
    }

  }

}

/************** HEADER **************/
.header {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  color: white;

  .header-data {
    position: static;
    bottom: 30px;
    padding-right: 2%;
    padding-left: 2%;
    font-weight: 500;
    text-shadow: none;


    h1 {
      margin-left: -30px;
      padding-top: 87px;
      padding-left: 30px;
      background-image: url(/img/layout/logo.svg);
      background-size: 110px;
      background-repeat: no-repeat;
      color: $header-h1;
      /*text-shadow: white -1px -1px 0px, white 1px -1px 0px;*/
      font-size: 27px;
      line-height: 36px;

      &.title {
        margin-top: 22px;
        margin-bottom: 24px;
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 37px;
        font-weight: 400;
      }
    }

  }

}
div.about_project {
  background-color: rgba(158, 88, 55, 0.21);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  .about {
    color: white;
    padding-left: 2%;
  }
}

.pages .header {
  margin-top: 30px;

  .header-data h1 {
    padding-top: 0px;
    background-image: none;
    background-position: 0% 0%;
    font-size: 22px;
    line-height: 33px;
  }
}

.pages .header .header-data h1.title {
  padding-top: 0px;
  background-image: none;
  background-position: 0% 0%;
  color: #4a1234;
  font-size: 37px;
  font-weight: 500;
}

.agenda .header .header-data h1.title {
  color: $agenda-h1;
}
.news .header .header-data h1.title {
  color: $news-h1;
}
.galeria .header .header-data h1.title {
  color: $galleries-h1;
}


/********* POST LISTING ***********/

.posts-list {
  margin-top: 50px;
  margin-left: -10px;
  margin-right: -10px;

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .post {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 240px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    border-width: 0px 0px 3px 3px;
    border-color: black;
    border-radius: 0px;
    background-color: #f7f7ed;
    box-shadow: none;

    &.new {
      border-color: $news-border;
      h6 {
        background-color: rgba(130, 120, 179, 0.29);
        color: #8278b3;
      }
    }
    &.event {
      border-color: $agenda-border;
      h6 {
        background-color: rgba(78, 170, 207, 0.29);
        color: #4eaacf;
      }
    }
    &.gallery {
      border-color: $galeria-border;
      h6 {
        background-color: rgba(227, 137, 232, 0.29);
        color: #e389e8;
      }
    }

    .project {
      position: absolute;
      left: 0px;
      bottom: 6px;
      z-index: 2;
      height: 20px;
      padding-right: 6px;
      padding-left: 6px;
      border-width: 0px;
      background-color: #ffe587;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.4px;
      text-transform: lowercase;
    }

    .post-type {
      position: absolute;
      top: 5px;
      right: 0px;
      margin-top: -5px;
      padding: 2px 6px 5px;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 11px;
      line-height: 13px;
      font-weight: 400;
      letter-spacing: 0.4px;
      text-transform: lowercase;
    }

    .post-date {
      margin-bottom: 5px;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 12px;
      letter-spacing: 0.4px;
    }
    
    a {
      color: $fg;
    }
    .post-footer-hidder {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 1;
      height: 40px;
      background-image: -webkit-linear-gradient(rgba(247, 247, 237, 0), #f7f7ed);
      background-image: linear-gradient(rgba(247, 247, 237, 0), #f7f7ed);
    }
  }
}



//UTILS
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.unlisted {
  list-style: none;
}
// FOOTER
.footer {
  padding: 30px 4% 60px;
  background-color: #f7f7ed;
  font-size: 12px;
  line-height: 18px;
  .container {
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  ul.partners-list {
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 50px;
    padding: 10px;
    border-style: solid dashed dashed;
    border-width: 2px 1px 1px;
    border-top-color: #68ad68;
    list-style: none;

    li {
        height: 60px;
        margin-right: 40px;
        margin-bottom: 30px;
        padding-bottom: 10px;
        float: left;
    }

    .links {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid #68ad68;
    }
  }
  ul.rede {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #68ad68;

    padding-left: 0;
    li {
      margin-right: 10px;
      float: left;
    } 
  }
  a.rede {
    color: #340a0b;
    text-decoration: underline;

    &.unit {
      font-size: 14px;
    }
  }
}

/**************** NEWS ********************/

